<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Request Submitted</title>
    <!-- Link to local Bootstrap CSS file using Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .container {
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="alert alert-success" role="alert">
        Request Submitted Successfully
    </div>
    <p><a class="btn btn-primary" href="home">Return to Home</a></p>
</div>
<!-- Link to local Bootstrap JS files using Thymeleaf -->
<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
